<div id="contact-back">
  <%= link_to root_path, class: 'btn-back-home' do %>
    <span class="link-text">retour</span>
    <svg id="arrow-stroke-contact" viewBox="0 0 136 70" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M1 35L40.3046 1L46.243 8.96602L22.0525 29.8917L135 29.8917V40.1083H22.0525L46.243 61.034L40.3046 69L1 35Z"/>
    </svg>
  <% end %>
</div>

<div id="contact-content">

  <div id="contact-header">

    <h1>contact</h1>
    <h6>je réponds en général assez vite. parfois un peu moins. mais quand même, toujours en moins de 48h.</h6>

  </div>

  <div id="contact-form">

    <%= simple_form_for(@message, {url: new_message_path}) do |f| %>
      <%= f.input :email, label: "adresse mail :" %>
      <%= f.input :name, label: "nom & prénom :"%>
      <%= f.input :body, as: :text, label: "message :" %>

      <%#= f.submit value: "envoyer" %>
      <button>envoyer</button>
    <% end %>

  </div>

</div>





