<h1>contact</h1>

<%= simple_form_for(@message, {url: new_message_path}) do |f| %>
  <%= f.input :body %>
  <%= f.input :name %>
  <%= f.input :email %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
