<h1>contact</h1>
<h4>je réponds en général assez vite. parfois un peu moins. mais quand même, toujours avant 48h.</h4>

<%= simple_form_for(@message, {url: new_message_path}) do |f| %>
  <%= f.input :email, label: false, placeholder: 'adresse courriel' %>
  <%= f.input :name, label: false, placeholder: 'nom & prénom' %>
  <%= f.input :body, as: :text, label: false, placeholder: 'message' %>

  <%= f.submit value: "envoyer" %>
<% end %>
